*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #33658a;
    --secondary-color: #86BBD8;
}
body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 5px;
}

.btn{
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 190px;
    margin-top: 2px;
}

.search-form{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}

.search-list{
    background-color: var(--secondary-color);
}

.current{
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.hide{
    display: none;
}

#five-day{
    margin: 10px;
}

.forecast{
    margin: 10px;
    border-radius: 15px;
}